/*------------- МЕДИА-ЗАПРОСЫ -------------*/
@media screen and (max-width: 1880px) {
    .part-gallery img {
        margin-right: 1.5rem;
    }

    .part-gallery img:nth-of-type(4) {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 1500px) {
    body span {
        font-size: 14px;
    }

    body .wrapper * {
        font-size: 14px;
    }

    .wrapper header nav div {
        font-size: 12px;
    }

    .wrapper header nav div h3 {
        font-size: 20px;
    }

    .wrapper header nav button {
        font-size: 12px;
    }

    .wrapper .part-main .text-on-img-main p span .font-size-42 {
        font-size: 22px;
    }

    .part-gallery img:nth-of-type(4) {
        margin-bottom: 1.5rem;
    }

    .part-form h3 {
        font-size: 25px;
    }

    .part-form .width-40 {
        width: 50%;
    }

    footer .width-500px {
        width: 300px;
    }
}

/*------------- УНИВЕРСАЛЬНЫЕ СЕЛЕКТОРЫ -------------*/
body {
    font-size: 10px;
    overflow-x: hidden;
    color: #2c2b2b;
    background-color: #ffffff;
}

body.dark-theme {
    color: #ffffff;
    background-color: #2c2b2b;
}

body.dark-theme header {
    color: #ffffff;
    background-color: #2c2b2b;
}

body.dark-theme .part-gallery {
    background-color: #918b8b;
}

body .wrapper {
    font-size: 15px
}

.width-60 {
    margin: 0 auto;
    width: 60%;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

.btn-brick {
    border-radius: unset;
}

/*------------- ХЕДЕР -------------*/
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    border-top: 1px solid black;
    height: 8px;
    background: #1ca3e6;
    width: 0;
}

.mode {
    width: 40px;
    height: 40px;
}

header {
    margin: 0 auto;
    padding: 1.2rem;
    height: 5rem;
    opacity: 85%;
    background-color: #f3f7fc;
    transition: transform .1s linear;
}

.header-hide {
    transform: translateY(-5rem);
}

header div h3::first-letter {
    color: #1ca3e6;
}

.margin-50px {
    margin-left: 50px;
}

/*------------- СТИЛИ МЕЙНА -------------*/
.part-main {
    position: relative;
}

.text-on-img-main {
    position: absolute;
    top: 37%;
    left: 20%;
    color: #ffffff;
    font-size: 18px;
}

.part-main img {
    width: 100%;
}

.width-25 {
    width: 25%;
}

.font-size-42 {
    font-size: 42px;
}

.part-main a:hover {
    color: #1ca3e6;
}

.btn-color-white {
    background-color: white;
}

/*------------- СТИЛИ ДЛЯ ЧАСТИ С ДОКТОРОМ -------------*/
.part-doc {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 600px;
}

.width-35 {
    width: 35%;
}

.color-aqua {
    color: #1ca3e6;
}

.btn-color-aqua {
    color: white;
    background-color: #1ca3e6;
}

/*------------- СТИЛИ ШАХМАТНОЙ СЕКЦИИ -------------*/
div #text-on-img-chess {
    position: relative;
}

.text-on-img-chess {
    position: absolute;
    top: 25%;
    left: 17%;
    text-transform: uppercase;
    color: white;
    background-color: unset;
}

.part-chess div {
    width: 50%;
    color: white;
    background-color: #1ca3e6;
}

.part-chess img{
    width: 50%;
}

/*------------- СТИЛИ ДЛЯ ГАЛЕРЕИ -------------*/
.part-gallery {
    background-color: #f1f1f1;
}

.part-gallery img:hover {
    cursor: pointer;
}

.animated-left {
    transform: translate(-600%, 0px);
    transition-duration: 2s;
}

.animated-left.active {
    transform: translate(0px, 0px);
}

.animated-right {
    transform: translate(600%, 0px);
    transition-duration: 2s;
}

.animated-right.active {
    transform: translate(0px, 0px);
    transition-duration: 2s;
}

.part-gallery #pics img:nth-child(1):hover {
    border: 10px solid #1ca3e6;
    transition-duration: 2s;
}

.part-gallery #pics img:nth-child(2):hover {
    transform: scale(1.3);
    transition: 2s;
}

.part-gallery #pics img:nth-child(3):hover {
    border-radius: 50%;
    transition-duration: 2s;
}

.part-gallery #pics img:nth-child(4) {
    filter: grayscale(100%);
    transition: 2s;
}

.part-gallery #pics img:nth-child(4):hover {
    filter: grayscale(0);
}

.part-gallery #pics img:nth-child(5):hover {
    transform: scale(0.7);
}

.part-gallery #pics img:nth-child(6) {
    filter: sepia(0);
    transition: 2s;
}

.part-gallery #pics img:nth-child(6):hover {
    filter: sepia(100%);
}

/* это реализация картинки на полный экран - не получилось :(
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
}
.lightbox:target {
    display: block;
}
.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
*/

/*------------- СТИЛИ ДЛЯ ЧАСТИ С ФОРМОЙ -------------*/
.part-form h3 {
    font-family: Consolas, sans-serif;
    letter-spacing: 3px;
}

textarea {
    min-height: 200px;
    max-height: 400px;
}

.width-40 {
    margin: 0 auto;
    width: 40%;
}

.part-form .btn:hover {
    background-color: #1ca3e6;
}

/*------------- СТИЛИ ДЛЯ ФУТЕРА -------------*/
.bg-dark-blue {
    background-color: #072135;
}

.text-color-footer {
    color: #f4f4f5;
}

.height-350px {
    height: 350px;
}

.width-500px {
    width: 500px;
}

.size-700px {
    height: 700px;
}
/*------------- THIS IS END -------------*/